 @charset "UTF-8";
        body {
            background-color: rgb(179, 171, 36);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(18, 7, 7); background-color: rgb(173, 188, 230);
        }
        h2 {
            color: blue;
        }

        p{
            text-align: justify;
        }
